.DS_Store
roles/fedora4/files/fcrepo-webapp-*.war
roles/solr/files/solr-*.tgz
hosts.yml
admpriv.pem
vars/common.yml
*~undo-tree~
vars/digital_archives.yml
hosts.prod.yml
roles/apache-shib/files/httpd/.htpasswd
roles/apache-shib/files/inc-md-cert.pem
roles/apache-shib/files/sp-cert.pem
roles/apache-shib/files/sp-key.pem
roles/apache-shib/files/shibboleth/metadata/OtherIdP-metadata.xml
roles/apache-shib/files/ssl/archives.calstate.edu-intermediate.cer
roles/apache-shib/files/ssl/archives.calstate.edu-private.key
roles/apache-shib/files/ssl/archives.calstate.edu.cer
roles/apache-shib/files/ssl/scholarworks.calstate.edu-intermediate.cer
roles/apache-shib/files/ssl/scholarworks.calstate.edu-private.key
roles/apache-shib/files/ssl/scholarworks.calstate.edu.cer
